#Importing packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio

#Configuring packages

In [5]:
pio.renderers.default = "notebook"
sns.set(style="whitegrid")
plt.rcParams["figure.figsize"] = (10, 6)

#importing the datasets for plotting

In [4]:
health_df = pd.read_csv("data/insurance.csv")
obesity_df = pd.read_csv("data/obesity_data.csv")
student_df = pd.read_csv("data/student.csv")

#cleaning the datasets (or just ensuring that they are clean as the author on Kaggle claims)

#Insurance Data set

In [7]:
health_df = pd.read_csv("data/insurance.csv")
print("Healthcare DataFrame Head:")
print(health_df.head())
print("\nInfo:")
print(health_df.info())
print("\nDescription:")
print(health_df.describe(include='all'))

health_df.drop_duplicates(inplace=True)
health_df.dropna(inplace=True)
health_df['sex'] = health_df['sex'].astype('category')

Healthcare DataFrame Head:
   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
None

Description:
                age   sex          bmi     children smoker     region  \
count   1338.000000  1338  1338.000000  1338.000000   1338       1338
unique          NaN     2          NaN          NaN      2          4
top             NaN  male          NaN          NaN     no  southeast
freq            NaN   676          NaN          NaN   1064        364
mean      39.207025   NaN    30.663397     1.094918    NaN        NaN
std       14.049960   NaN     6.098187     1.205493    NaN        NaN
min       18.000000   NaN    15.960000     0.000000    NaN        NaN
25%       27.000000   NaN    26.296250     0.000000    NaN        NaN
50%       39.000000   NaN    30.400000     1.000000    NaN        NaN
75%       51.000000   NaN    34.693750     2.000000    NaN        NaN
max       64.000000   NaN    53.130000     5.000000    NaN        NaN

             charges
count    1338.000000
unique           NaN
top              NaN
freq             NaN
mean    13270.422265
std     12110.011237
min      1121.873900
25%      4740.287150
50%      9382.033000
75%     16639.912515
max     63770.428010

#obesity dataset

In [9]:
obesity_df = pd.read_csv(r"C:\Users\opiej\DA-Mod2-WK4_Plots\data\student.csv")
print("\nObesity DataFrame Head:")
print(obesity_df.head())
print("\nInfo:")
print(obesity_df.info())
print("\nDescription:")
print(obesity_df.describe(include='all'))

obesity_df.rename(columns={'NObeyesdad': 'Obesity_Level'}, inplace=True)
for col in obesity_df.select_dtypes(include='object').columns:
    obesity_df[col] = obesity_df[col].astype('category')
obesity_df.drop_duplicates(inplace=True)
obesity_df.dropna(inplace=True)

Obesity DataFrame Head:
   Unnamed: 0    Id  Student_Age     Sex High_School_Type Scholarship  \
0           0  5001           21    Male            Other         50%
1           1  5002           20    Male            Other         50%
2           2  5003           21    Male            State         50%
3           3  5004           18  Female          Private         50%
4           4  5005           22    Male          Private         50%

  Additional_Work Sports_activity Transportation  Weekly_Study_Hours  \
0             Yes              No        Private                   0
1             Yes              No        Private                   0
2              No              No        Private                   2
3             Yes              No            Bus                   2
4              No              No            Bus                  12

  Attendance Reading Notes Listening_in_Class Project_work Grade
0     Always     Yes   Yes                 No           No    AA
1     Always     Yes    No                Yes          Yes    AA
2      Never      No    No                 No          Yes    AA
3     Always      No   Yes                 No           No    AA
4     Always     Yes    No                Yes          Yes    AA

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          145 non-null    int64
 1   Id                  145 non-null    int64
 2   Student_Age         145 non-null    int64
 3   Sex                 145 non-null    object
 4   High_School_Type    145 non-null    object
 5   Scholarship         144 non-null    object
 6   Additional_Work     145 non-null    object
 7   Sports_activity     145 non-null    object
 8   Transportation      145 non-null    object
 9   Weekly_Study_Hours  145 non-null    int64
 10  Attendance          145 non-null    object
 11  Reading             145 non-null    object
 12  Notes               145 non-null    object
 13  Listening_in_Class  145 non-null    object
 14  Project_work        145 non-null    object
 15  Grade               145 non-null    object
dtypes: int64(4), object(12)
memory usage: 18.3+ KB
None

Description:
        Unnamed: 0           Id  Student_Age   Sex High_School_Type  \
count   145.000000   145.000000   145.000000   145              145
unique         NaN          NaN          NaN     2                3
top            NaN          NaN          NaN  Male            State
freq           NaN          NaN          NaN    87              103
mean     72.000000  5073.000000    19.682759   NaN              NaN
std      42.001984    42.001984     1.992010   NaN              NaN
min       0.000000  5001.000000    18.000000   NaN              NaN
25%      36.000000  5037.000000    18.000000   NaN              NaN
50%      72.000000  5073.000000    19.000000   NaN              NaN
75%     108.000000  5109.000000    21.000000   NaN              NaN
max     144.000000  5145.000000    26.000000   NaN              NaN

       Scholarship Additional_Work Sports_activity Transportation  \
count          144             145             145            145
unique           4               2               2              2
top            50%              No              No        Private
freq            76              96              87             84
mean           NaN             NaN             NaN            NaN
std            NaN             NaN             NaN            NaN
min            NaN             NaN             NaN            NaN
25%            NaN             NaN             NaN            NaN
50%            NaN             NaN             NaN            NaN
75%            NaN             NaN             NaN            NaN
max            NaN             NaN             NaN            NaN

        Weekly_Study_Hours Attendance Reading Notes Listening_in_Class  \
count           145.000000        145     145   145                145
unique                 NaN          4       2     3                  3
top                    NaN     Always      No   Yes                Yes
freq                   NaN         98      76    77                 75
mean              2.331034        NaN     NaN   NaN                NaN
std               4.249273        NaN     NaN   NaN                NaN
min               0.000000        NaN     NaN   NaN                NaN
25%               0.000000        NaN     NaN   NaN                NaN
50%               0.000000        NaN     NaN   NaN                NaN
75%               2.000000        NaN     NaN   NaN                NaN
max              12.000000        NaN     NaN   NaN                NaN

       Project_work Grade
count           145   145
unique            2     8
top              No    AA
freq             73    35
mean            NaN   NaN
std             NaN   NaN
min             NaN   NaN
25%             NaN   NaN
50%             NaN   NaN
75%             NaN   NaN
max             NaN   NaN